= {{title}}
NM
:doctype: book
:encoding: utf-8
:lang: en
:toc: left
:toclevels: 5
:numbered:

== Waves
{{#waves}}
[#wave-{{id}}]
=== {{name}}

{{#eventTypeGroups}}

{{eventTypeLabel}}::

[width="100%",options="header",cols="1,2,4"]
|====================
| DrG | Operational Change | Purpose
{{#milestones}}
| {{operationalChange.drg}} | <<oc-{{operationalChange.id}}, {{operationalChange.title}}>> | {{operationalChange.purpose}}
{{/milestones}}
|====================

{{/eventTypeGroups}}
{{/waves}}

== Operational Changes

{{#operationalChanges}}

=== {{drg}}

{{#items}}

[#oc-{{itemId}}]
==== OC - {{title}}
Purpose::
+
--
{{{purpose}}}
--
Initial State::
+
--
{{{initialState}}}
--
Final State::
+
--
{{{finalState}}}
--
Details::
+
--
{{{details}}}
--
Milestones::
+
[width="100%",options="header"]
|====================
| Wave | Milestone | Events | Description
{{#milestones}}
    {{#isBeforeEditionStart}}
| {{wave.name}} | {{title}} | {{#eventTypes}}{{.}}{{^last}}, {{/last}}{{/eventTypes}} | {{description}}
    {{/isBeforeEditionStart}}
    {{^isBeforeEditionStart}}
| <<wave-{{wave.id}},{{wave.name}}>> | {{title}} | {{#eventTypes}}{{.}}{{^last}}, {{/last}}{{/eventTypes}} | {{description}}
    {{/isBeforeEditionStart}}
{{/milestones}}
|====================

Satisfied Requirements::
+
--
{{#satisfiesRequirements}}
* <<or-{{id}}, OR - {{title}}>>
{{/satisfiesRequirements}}
--

{{/items}}

{{/operationalChanges}}

== Operational Needs
{{#operationalNeeds}}

=== {{drg}}

{{#items}}

[#on-{{itemId}}]
==== ON - {{title}}

{{#refinesParents}}
{{#refinesParents}}
_Refines:_ <<on-{{id}}, _ON - {{title}}_>>
{{/refinesParents}}
{{/refinesParents}}

Statement::
+
--
{{{statement}}}
--
Rationale::
+
--
{{{rationale}}}
--

Implemented by::
+
--
{{#implementingORs}}
* <<or-{{id}}, OR - {{title}}>>
{{/implementingORs}}
--

Impact::
+
--
TO BE COMPLETED
--

{{/items}}

{{/operationalNeeds}}

== Operational Requirements
{{#operationalRequirements}}

=== {{drg}}

{{#items}}

[#or-{{itemId}}]
==== OR - {{title}}

{{#refinesParents}}
{{#refinesParents}}
_Refines:_ <<or-{{id}}, _OR - {{title}}_>>
{{/refinesParents}}
{{/refinesParents}}

Statement::
+
--
{{{statement}}}
--
Rationale::
+
--
{{{rationale}}}
--

{{#satisfiedByChange}}
Satisfied by::
+
--
* <<oc-{{id}}, OC - {{title}}>>
--
{{/satisfiedByChange}}

Implements::
+
--
{{#implementedONs}}
* <<on-{{id}}, ON - {{title}}>>
{{/implementedONs}}
--

Impact::
+
--
TO BE COMPLETED
--

{{/items}}

{{/operationalRequirements}}

