apiVersion: v1
kind: Pod
metadata:
  name: odp-pod
spec:
  containers:

    # Neo4j Database
    - name: neo4j
      image: docker.io/neo4j:5.15
      ports:
        - containerPort: 7474
          hostPort: 7474
        - containerPort: 7687
          hostPort: 7687
      env:
        - name: NEO4J_AUTH
          value: "neo4j/password123"
        - name: NEO4J_PLUGINS
          value: '["apoc"]'
      volumeMounts:
        - name: neo4j-data
          mountPath: /data

    # ODP Server
    - name: odp-server
      image: docker.io/node:20
      workingDir: /app/workspace/server
      ports:
        - containerPort: 80
          hostPort: 8080
      command: ["sh", "-c", "npm run dev"]
      env:
        - name: NODE_ENV
          value: "development"
        - name: NEO4J_URI
          value: "bolt://localhost:7687"
        - name: NEO4J_USER
          value: "neo4j"
        - name: NEO4J_PASSWORD
          value: "password123"
        - name: STATIC_CONTENT_PATH
          value: "/home/jacques/works/github/odp/publication/web-site/static"
      volumeMounts:
        - name: odp-code
          mountPath: /app
        - name: static-content
          mountPath: /home/jacques/works/github/odp/publication/web-site/static

    # Web Client
    - name: web-client
      image: localhost/odp-web-client:latest
      imagePullPolicy: Never
      ports:
        - containerPort: 3000
          hostPort: 3000
      env:
        - name: NODE_ENV
          value: "development"

  volumes:
    - name: neo4j-data
      hostPath:
        path: /home/jacques/odp-tool/odp-data/neo4j
        type: Directory
    - name: odp-code
      hostPath:
        path: /home/jacques/works/github/odp
        type: Directory
    - name: static-content
      hostPath:
        path: /home/jacques/works/github/odp/publication/web-site/static
        type: Directory