= {{title}}
:notitle:

{{#narrative}}
{{{narrative}}}

{{/narrative}}
ifndef::env-export[]

{{#rootFolders}}
Jump to a theme:

{{#items}}
* xref:{{{path}}}/index.adoc[{{name}}]
{{/items}}

{{/rootFolders}}
{{#rootONs}}
=== Operational Needs

{{#items}}
* xref:{{{path}}}/{{{file}}}[{{title}}]
{{/items}}

{{/rootONs}}
{{#rootORs}}
=== Operational Requirements

{{#items}}
* xref:{{{path}}}/{{{file}}}[{{title}}]
{{/items}}
{{/rootORs}}
endif::env-export[]
