= ON {{title}}

*Code:* {{code}}

*Domain:* {{drg}}

*Maturity:* {{maturity}}

{{#tentative}}
*Tentative implementation:* {{tentative}}
{{/tentative}}

{{#refinesParents}}
*Refines:* xref:{{{parentXref}}}[{{parentTitle}}]
{{/refinesParents}}

'''

{{#statement}}
--
*Statement* +
{{{statement}}}
--
'''
{{/statement}}

{{#rationale}}
--
*Rationale* +
{{{rationale}}}
--
'''
{{/rationale}}

{{#flows}}
--
*Flow Descriptions and Examples* +
{{{flows}}}
--
'''
{{/flows}}

{{#strategicDocuments}}
*Strategic Documents*

{{#items}}
* {{#url}}link:{{{url}}}[{{title}} {{version}}]{{/url}}{{^url}}{{title}} {{version}}{{/url}} {{#note}}({{{note}}}){{/note}}
{{/items}}

'''
{{/strategicDocuments}}

{{#refinedBy}}
*Refined By*

{{#items}}
* xref:{{{xref}}}[{{type}} {{title}}]
{{/items}}

'''
{{/refinedBy}}

{{#implementedBy}}

*Implemented By*

{{#items}}
* xref:{{{xref}}}[OR {{title}}]
{{/items}}

'''
{{/implementedBy}}