= {{title}}

[.metadata]
--
*Type:* ON +
*ID:* {{itemId}} +
*DRG:* {{drg}} +
{{#path}}
*Path:* {{path}} +
{{/path}}
--

{{#statement}}
== Statement

{{{statement}}}

{{/statement}}
{{#rationale}}
== Rationale

{{{rationale}}}

{{/rationale}}
{{#refinesParents}}
*Refines:* xref:{{{parentPath}}}/{{{parentFile}}}[{{parentTitle}}]

{{/refinesParents}}
{{#implementingORs}}

== Implementing Requirements

{{#ors}}
* xref:{{{path}}}/{{{file}}}[{{title}}]
{{/ors}}
{{/implementingORs}}
{{#subONs}}

== Sub-ONs

{{#ons}}
* xref:{{{path}}}/{{{file}}}[{{title}}]
{{/ons}}
{{/subONs}}