= {{title}}

[.metadata]
--
*Type:* OR +
*ID:* {{itemId}} +
*DRG:* {{drg}} +
{{#path}}
*Path:* {{path}} +
{{/path}}
--

{{#statement}}
== Statement

{{{statement}}}

{{/statement}}
{{#rationale}}
== Rationale

{{{rationale}}}

{{/rationale}}
{{#implementedONs}}
*Implements:* {{#ons}}xref:{{{path}}}/{{{file}}}[{{title}}]{{^last}}, {{/last}}{{/ons}}

{{/implementedONs}}
{{#refinesParents}}
*Refines:* xref:{{{parentPath}}}/{{{parentFile}}}[{{parentTitle}}]

{{/refinesParents}}
{{#refinedBy}}

== Refined By

{{#items}}
* xref:{{{path}}}/{{{file}}}[OR-{{id}}: {{title}}]
{{/items}}
{{/refinedBy}}
