= OR {{title}}

[.metadata]
--
*Code:* {{code}} +
*Domain:* {{drg}} +
{{#implementedONs}}
*Implements:* {{#ons}}xref:{{{xref}}}[ON {{title}}]{{^last}}, {{/last}}{{/ons}} +
{{/implementedONs}}
{{#refinesParents}}
*Refines:* xref:{{{parentXref}}}[{{parentTitle}}]
{{/refinesParents}}
--

{{#statement}}
Statement::
+
--
{{{statement}}}
--
{{/statement}}

{{#rationale}}
Rationale::
+
--
{{{rationale}}}
--

{{/rationale}}

{{#nfrs}}
Non-Functional Requirements::
+
--
{{{nfrs}}}
--
{{/nfrs}}

{{#flows}}
Flow Descriptions and Examples::
+
--
{{{flows}}}
--
{{/flows}}

{{#refinedBy}}

Refined By::
+
--
{{#items}}
* xref:{{{xref}}}[OR {{title}}]
{{/items}}
--
{{/refinedBy}}