= {{themeName}}

{{#narrative}}
{{{narrative}}}

{{/narrative}}
ifndef::env-export[]
{{#subthemes}}
== Sub-themes

{{#items}}
* xref:{{{path}}}/index.adoc[{{name}}]
{{/items}}

{{/subthemes}}
{{#ons}}
== Operational Needs

{{#items}}
{{{line}}}
{{/items}}

{{/ons}}
{{#ors}}
== Operational Requirements

{{#items}}
{{{line}}}
{{/items}}
{{/ors}}
endif::env-export[]
